global
    log             /dev/log       local0
    log             /dev/log       local1 notice
    stats socket {{ haproxy_socket }} level admin
    chroot {{ haproxy_chroot }}
    maxconn {{ haproxy_max_connections }}
{% if haproxy_multithreaded %}
    nbproc {{ haproxy_nb_proc }}
    nbthread {{ haproxy_nb_thread }}
    cpu-map {{ haproxy_cpu_map }}
{% endif %}
    user {{ haproxy_user }}
    group {{ haproxy_group }}
    daemon
{% for global_var in haproxy_global_vars %}
    {{ global_var }}
{% endfor %}