# HAProxy backend {{ item.name }}
# {{ ansible_managed }}
backend {{ item.name }}
    mode {{ item.mode }}
{% if item.acls is defined %}
{% for acl in item.acls %}
    acl {{ acl.name }} {{ acl.rule }}
{% endfor %}
{% endif %}
{% if item.add_headers is defined %}
{% for add_header in item.add_headers %}
    http-request set-header {{ add_header.header }} {{ add_header.value }}
{% endfor %}
{% endif %}
{% if item.set_paths is defined %}
{% for set_path in item.set_paths %}
    http-request set-path {{ set_path.path }} {{('if ' + set_path.condition) if set_path.condition is defined else '' }}
{% endfor %}
{% endif %}
{% if item.rewrites is defined %}
{% for rewrite in item.rewrites %}
    reqirep {{ rewrite.regexp }}    {{ rewrite.target }}
{% endfor %}
{% endif %}
{% if item.servers is defined %}
{% for server in item.servers %}
    server {{ server.name}} {{ server.fqdn}}:{{server.port}} {{('resolvers ' + server.resolver) if server.resolver is defined else '' }} {{('ssl verify ' + server.verify_ssl) if server.verify_ssl is defined else '' }}
{% endfor %}
{% endif %}