# HAProxy log files
# {{ ansible_managed }}

# Create an additional socket in haproxy's chroot in order to allow logging via
# /dev/log to chroot'ed HAProxy processes
$AddUnixListenSocket /var/lib/haproxy/dev/log

$template HAproxy,"%msg%\n"

:programname, startswith, "haproxy" {
  local0.info   /var/log/haproxy/haproxy.access.log;HAproxy
  local1.*      /var/log/haproxy/haproxy.events.log;HAproxy
  stop
}