# haproxy generated log messages
# {{ ansible_managed }}

input(type="imfile" ruleset="infiles" Tag="haproxy-access" File="/var/log/haproxy/haproxy.access.log" Severity="info"   ReadMode="0")
input(type="imfile" ruleset="infiles" Tag="haproxy-event" File="/var/log/haproxy/haproxy.events.log" Severity="info"   ReadMode="0")
