[Unit]
Description=HAProxy Load Balancer
After=network.target
Requires=haproxy-multiconf.service
[Service]
EnvironmentFile=/etc/haproxy/haproxy-multiconf.lst
Environment="PIDFILE=/run/haproxy.pid"
ExecStartPre=/usr/sbin/haproxy $CONF -c -q $EXTRAOPTS
ExecStart=/usr/sbin/haproxy -Ws $CONF -p $PIDFILE $EXTRAOPTS
ExecReload=/usr/sbin/haproxy $CONF -c -q $EXTRAOPTS
ExecReload=/bin/kill -USR2 $MAINPID
KillMode=mixed
Restart=always
SuccessExitStatus=143
Type=notify
[Install]
WantedBy=multi-user.target