{% raw %}
# Generated {{ (time.Now).UTC.Format time.RFC822 }}
# Varnish Nodes in the Cluster
probe healthz {
  .url       = "/healthz";
  .timeout   = 2s;
  .interval  = 5s;
  .window    = 8;
  .threshold = 3;
  .initial   = 5;
}
{{ range $index, $element := (getenv "VARNISH_NODE_IPS" | jsonArray) -}}
backend varnish-node-{{ printf "%02d" (add $index 1) }} {
    .host  = "{{ $element }}";
    .port  = "{{ (getenv "VARNISH_LISTEN_PORT") }}";
    .probe = healthz;
}
{{ end -}}
{% endraw %}
